// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.products {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.product {
  display: flex;
  max-width: 400px;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  img{ /* Исправить. не работает &__img*/
    max-width: 200px;
    max-height: 200px;
    width: 200px;
    height: 200px;
  }

  &__info {
    padding: 10px;
    list-style: none;
    overflow: hidden;

    span {
      font-weight: bolder;
    }
  }
}