<li class='category'>

    <% if @category.name == 'All' %>
      <span class="category__name"><%= @category.name %></span>
    <% else %>
      <%= link_to "#{@category.name}", category_path(@category), class: 'category__name' %>
    <% end %>

  <span class="category__count"><%= @category.products.size %></span>
</li>