<li class='category'>
  <span class="category__name"><%= link_to "#{@category.name}", category_path(@category) %></span>
  <span class="category__count"><%= @category.products.size %></span>
  <!--      <span><%#= category.name %></span>-->
  <!--      <span class="category__name"><%#= link_to "Show", category_path(category) %></span>-->
</li>