<header><h1>Categories</h1></header>

<div class="menu">
  <div class="menu__item"><%= link_to 'New category', new_category_path %></div>
  <div class="menu__item"><%= button_to "Clear Tasks", category_tasks_path({category_id: 0}), method: :delete %></div>
</div>

<ul class='categories'>
  <% @categories.each do |category| %>

    <%= render @category = category %>

  <% end %>
</ul>
