<h1>SHOW</h1>
<div>
  <p>
    <%= @category.inspect %>
  </p>
  <p><%= link_to 'Update category', category_path %></p>
</div>

<ul class="items">
  <%= render @category.products %>
</ul>

<%= link_to 'Back', categories_path %>